
.banner {
  color: white;
  text-align: center;
  height: 400px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  font-family: lato;
  // background-image: url('/assets/images/cocktail.jpg');
}


.btn-primary {
  border-radius: 20px;
}

body{
  color: gray;
}
